body {
    margin: 0 auto;
    line-height: 1.7em;
}

.logo-link{
    margin:-22px 0 !important;
    height: 90px !important;
}

#Stage{
    right: 0;
    z-index:2;
    margin: -89px -111px 0 0;
    position: absolute !important;
}

.logo-link img{
    margin: 18px 0 0 0;
}

.align-center{
    text-align: center;
}

.white-font{
    color: #fff;
}

.slogan{
    padding: 77px 0;
    width: 473px;
    margin: auto;
    display: block;
}

.pure-menu.pure-menu-open.pure-menu-fixed{border-bottom:0;}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    height: 255px;
    margin: 109px auto 77px;
    padding: 3em 0.5em;
    background: #005EAC;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }

.splash-circle{
    margin: auto;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}